.whole {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
  border-bottom: 1px solid #f1f3f6;
  padding-bottom: 2rem;
}

.joshi {
  display: flex;
  justify-content: space-around;
}
.ban {
  color: green;
}
.star {
  background-color: green;
  color: white;
}
.sym {
  background: 0;
  border: 0;
  outline: 0;
  color: white;
}
.pic {
  margin-top: 1.5%;
}
.koko {
  margin-top: 3.5%;
}
.mdis {
  margin-top: 3.5%;
}
